# PyCharm / JetBrains IDE
.idea/

# Python virtual environments
venv/
.venv/
env/
.env/
*.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Logs
logs/

# Storage (runtime data)
storage/

# App config
*config.json
